In [14]:
import os

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('pry_exports_to_brz.csv', encoding='unicode_escape')

In [17]:
df.head()

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate,Unnamed: 47
0,C,A,20230101,2023,52,2023,600,PRY,Paraguay,X,...,False,0,False,NaN,1.690641e+08,1.690641e+08,0,False,True,NaN
1,C,A,20230101,2023,52,2023,600,PRY,Paraguay,X,...,False,0,False,NaN,1.249529e+08,1.249529e+08,0,False,True,NaN
2,C,A,20230101,2023,52,2023,600,PRY,Paraguay,X,...,False,0,False,NaN,1.249529e+08,1.249529e+08,0,True,False,NaN
3,C,A,20230101,2023,52,2023,600,PRY,Paraguay,X,...,False,0,False,NaN,3.784943e+07,3.784943e+07,0,False,True,NaN
4,C,A,20230101,2023,52,2023,600,PRY,Paraguay,X,...,False,0,False,NaN,1.404194e+05,1.404194e+05,0,True,False,NaN

In [18]:
df = df.drop(['TypeCode','FreqCode','RefPeriodId','RefMonth','Period','ReporterCode','ReporterISO','FlowCode'], axis=1)

In [19]:
df.head()

,RefYear,ReporterDesc,FlowDesc,PartnerCode,PartnerISO,PartnerDesc,Partner2Code,Partner2ISO,Partner2Desc,ClassificationCode,...,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate,Unnamed: 47
0,2023,Paraguay,Export,76,BRA,Brazil,0,W00,World,H6,...,False,0,False,NaN,1.690641e+08,1.690641e+08,0,False,True,NaN
1,2023,Paraguay,Export,76,BRA,Brazil,0,W00,World,H6,...,False,0,False,NaN,1.249529e+08,1.249529e+08,0,False,True,NaN
2,2023,Paraguay,Export,76,BRA,Brazil,0,W00,World,H6,...,False,0,False,NaN,1.249529e+08,1.249529e+08,0,True,False,NaN
3,2023,Paraguay,Export,76,BRA,Brazil,0,W00,World,H6,...,False,0,False,NaN,3.784943e+07,3.784943e+07,0,False,True,NaN
4,2023,Paraguay,Export,76,BRA,Brazil,0,W00,World,H6,...,False,0,False,NaN,1.404194e+05,1.404194e+05,0,True,False,NaN

In [20]:
df = df.drop(['PartnerCode','PartnerISO','Partner2Code','Partner2ISO','Partner2Desc','ClassificationCode','IsNetWgtEstimated','GrossWgt','IsGrossWgtEstimated'], axis=1)

In [21]:
df.head()

,RefYear,ReporterDesc,FlowDesc,PartnerDesc,ClassificationSearchCode,IsOriginalClassification,CmdCode,CmdDesc,AggrLevel,IsLeaf,...,AltQty,IsAltQtyEstimated,NetWgt,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate,Unnamed: 47
0,2023,Paraguay,Export,Brazil,HS,True,02,Meat and edible meat offal,2,False,...,0.0,False,0.0,NaN,1.690641e+08,1.690641e+08,0,False,True,NaN
1,2023,Paraguay,Export,Brazil,HS,True,0201,Meat of bovine animals; fresh or chilled,4,False,...,21523200.0,False,21523200.0,NaN,1.249529e+08,1.249529e+08,0,False,True,NaN
2,2023,Paraguay,Export,Brazil,HS,True,020130,"Meat; of bovine animals, boneless cuts, fresh ...",6,True,...,21523200.0,False,21523200.0,NaN,1.249529e+08,1.249529e+08,0,True,False,NaN
3,2023,Paraguay,Export,Brazil,HS,True,0202,Meat of bovine animals; frozen,4,False,...,7477842.3,False,7477842.3,NaN,3.784943e+07,3.784943e+07,0,False,True,NaN
4,2023,Paraguay,Export,Brazil,HS,True,020220,"Meat; of bovine animals, cuts with bone in (ex...",6,True,...,52442.3,False,52442.3,NaN,1.404194e+05,1.404194e+05,0,True,False,NaN

In [22]:
df = df.drop(['ClassificationSearchCode','IsOriginalClassification','IsLeaf','AltQty','IsAltQtyEstimated','PrimaryValue','LegacyEstimationFlag','IsReported','IsAggregate'],axis=1)

In [23]:
df.head()

,RefYear,ReporterDesc,FlowDesc,PartnerDesc,CmdCode,CmdDesc,AggrLevel,CustomsCode,CustomsDesc,MosCode,...,QtyUnitCode,QtyUnitAbbr,Qty,IsQtyEstimated,AltQtyUnitCode,AltQtyUnitAbbr,NetWgt,Cifvalue,Fobvalue,Unnamed: 47
0,2023,Paraguay,Export,Brazil,02,Meat and edible meat offal,2,C00,TOTAL CPC,0,...,-1,NaN,0.0,False,-1,NaN,0.0,NaN,1.690641e+08,NaN
1,2023,Paraguay,Export,Brazil,0201,Meat of bovine animals; fresh or chilled,4,C00,TOTAL CPC,0,...,8,kg,21523200.0,False,8,kg,21523200.0,NaN,1.249529e+08,NaN
2,2023,Paraguay,Export,Brazil,020130,"Meat; of bovine animals, boneless cuts, fresh ...",6,C00,TOTAL CPC,0,...,8,kg,21523200.0,False,8,kg,21523200.0,NaN,1.249529e+08,NaN
3,2023,Paraguay,Export,Brazil,0202,Meat of bovine animals; frozen,4,C00,TOTAL CPC,0,...,8,kg,7477842.3,False,8,kg,7477842.3,NaN,3.784943e+07,NaN
4,2023,Paraguay,Export,Brazil,020220,"Meat; of bovine animals, cuts with bone in (ex...",6,C00,TOTAL CPC,0,...,8,kg,52442.3,False,8,kg,52442.3,NaN,1.404194e+05,NaN

In [24]:
df=df.drop(['MosCode','QtyUnitCode','IsQtyEstimated','AltQtyUnitCode','AltQtyUnitAbbr'],axis=1)

In [25]:
df.head()

,RefYear,ReporterDesc,FlowDesc,PartnerDesc,CmdCode,CmdDesc,AggrLevel,CustomsCode,CustomsDesc,MotCode,MotDesc,QtyUnitAbbr,Qty,NetWgt,Cifvalue,Fobvalue,Unnamed: 47
0,2023,Paraguay,Export,Brazil,02,Meat and edible meat offal,2,C00,TOTAL CPC,0,TOTAL MOT,NaN,0.0,0.0,NaN,1.690641e+08,NaN
1,2023,Paraguay,Export,Brazil,0201,Meat of bovine animals; fresh or chilled,4,C00,TOTAL CPC,0,TOTAL MOT,kg,21523200.0,21523200.0,NaN,1.249529e+08,NaN
2,2023,Paraguay,Export,Brazil,020130,"Meat; of bovine animals, boneless cuts, fresh ...",6,C00,TOTAL CPC,0,TOTAL MOT,kg,21523200.0,21523200.0,NaN,1.249529e+08,NaN
3,2023,Paraguay,Export,Brazil,0202,Meat of bovine animals; frozen,4,C00,TOTAL CPC,0,TOTAL MOT,kg,7477842.3,7477842.3,NaN,3.784943e+07,NaN
4,2023,Paraguay,Export,Brazil,020220,"Meat; of bovine animals, cuts with bone in (ex...",6,C00,TOTAL CPC,0,TOTAL MOT,kg,52442.3,52442.3,NaN,1.404194e+05,NaN

In [26]:
df=df.drop(['CustomsCode','CustomsDesc','MotCode','MotDesc'],axis=1)

In [27]:
df.head()

,RefYear,ReporterDesc,FlowDesc,PartnerDesc,CmdCode,CmdDesc,AggrLevel,QtyUnitAbbr,Qty,NetWgt,Cifvalue,Fobvalue,Unnamed: 47
0,2023,Paraguay,Export,Brazil,02,Meat and edible meat offal,2,NaN,0.0,0.0,NaN,1.690641e+08,NaN
1,2023,Paraguay,Export,Brazil,0201,Meat of bovine animals; fresh or chilled,4,kg,21523200.0,21523200.0,NaN,1.249529e+08,NaN
2,2023,Paraguay,Export,Brazil,020130,"Meat; of bovine animals, boneless cuts, fresh ...",6,kg,21523200.0,21523200.0,NaN,1.249529e+08,NaN
3,2023,Paraguay,Export,Brazil,0202,Meat of bovine animals; frozen,4,kg,7477842.3,7477842.3,NaN,3.784943e+07,NaN
4,2023,Paraguay,Export,Brazil,020220,"Meat; of bovine animals, cuts with bone in (ex...",6,kg,52442.3,52442.3,NaN,1.404194e+05,NaN

In [28]:
df=df.drop('Unnamed: 47',axis=1)

In [29]:
df = df.rename(columns={'RefYear':'year', 'ReporterDesc':'reporter','FlowDesc':'trade_flow','PartnerDesc':'partner','CmdCode':'hs_code','CmdDesc':'commodity', 'QtyUnitAbbr':'unit_type','Qty':'quantity','NetWgt':'net_weight','Cifvalue':'cif_value','Fobvalue':'fob_value'})

In [30]:
df = df[df['AggrLevel']==6]

In [31]:
df = df.drop(columns = 'AggrLevel')

In [32]:
df.shape

(888, 11)

In [33]:
df['trade_flow']=df['trade_flow'].replace('Export','exported_to')

In [34]:
df['unit_type']=df['unit_type'].replace(['1000u','thousands_of_units'],['2u','pairs_of_units'])

In [35]:
df['unit_type']=df['unit_type'].replace(['l','liters'],['m²','square_meters'])

In [36]:
df['unit_type']=df['unit_type'].replace(['m³','cubic_meters'],['u','units'])

In [37]:
df.head()

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,cif_value,fob_value
2,2023,Paraguay,exported_to,Brazil,020130,"Meat; of bovine animals, boneless cuts, fresh ...",kg,21523200.0,21523200.0,NaN,1.249529e+08
4,2023,Paraguay,exported_to,Brazil,020220,"Meat; of bovine animals, cuts with bone in (ex...",kg,52442.3,52442.3,NaN,1.404194e+05
5,2023,Paraguay,exported_to,Brazil,020230,"Meat; of bovine animals, boneless cuts, frozen",kg,7425400.0,7425400.0,NaN,3.770901e+07
7,2023,Paraguay,exported_to,Brazil,020622,"Offal, edible; of bovine animals, livers, frozen",kg,2883500.0,2883500.0,NaN,3.287412e+06
8,2023,Paraguay,exported_to,Brazil,020629,"Offal, edible; of bovine animals, (other than ...",kg,1037276.0,1037276.0,NaN,2.882343e+06

In [38]:
df.isnull().sum()

year            0
reporter        0
trade_flow      0
partner         0
hs_code         0
commodity       0
unit_type     150
quantity        0
net_weight      1
cif_value     888
fob_value       0
dtype: int64

In [39]:
df=df.drop('cif_value',axis=1)

In [40]:
df.to_csv('cleaned py exports to br.csv',index=False)

In [41]:
# Saves data from new .csv file as newdf to ensure that everything worked. 
newdf = pd.read_csv('cleaned py exports to br.csv')
newdf

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,fob_value
0,2023,Paraguay,exported_to,Brazil,20130,"Meat; of bovine animals, boneless cuts, fresh ...",kg,2.152320e+07,2.152320e+07,1.249529e+08
1,2023,Paraguay,exported_to,Brazil,20220,"Meat; of bovine animals, cuts with bone in (ex...",kg,5.244230e+04,5.244230e+04,1.404194e+05
2,2023,Paraguay,exported_to,Brazil,20230,"Meat; of bovine animals, boneless cuts, frozen",kg,7.425400e+06,7.425400e+06,3.770901e+07
3,2023,Paraguay,exported_to,Brazil,20622,"Offal, edible; of bovine animals, livers, frozen",kg,2.883500e+06,2.883500e+06,3.287412e+06
4,2023,Paraguay,exported_to,Brazil,20629,"Offal, edible; of bovine animals, (other than ...",kg,1.037276e+06,1.037276e+06,2.882343e+06
...,...,...,...,...,...,...,...,...,...,...
883,2023,Paraguay,exported_to,Brazil,961519,"Combs, hair slides and the like; of other than...",kg,1.120880e+03,1.120880e+03,6.216900e+03
884,2023,Paraguay,exported_to,Brazil,961590,"Hairpins, curling pins, curling grips, hair cu...",kg,5.500000e+01,5.500000e+01,6.644710e+03
885,2023,Paraguay,exported_to,Brazil,961620,Powder puffs and pads; for the application of ...,kg,1.023370e+02,1.023370e+02,7.409200e+02
886,2023,Paraguay,exported_to,Brazil,961700,"Vacuum flasks and other vacuum vessels, comple...",kg,1.180480e+03,1.180480e+03,3.232309e+04
887,2023,Paraguay,exported_to,Brazil,962000,"Monopods, bipods, tripods and similar articles",kg,1.166560e+04,1.166560e+04,3.058866e+04